/* Please Make only Rhino and Zebra Blue */

.top {
    color: blue;
}

/* Please Make only Hufflepuff Gold */

.harryPotter {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */

article .likesToQuack .fight1Or100 {
    color: black;
}

/* Please select Rhino with the highest level of specificity possible */

section #rhino .africa .fourLegs {
    color: black;
}
