body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #228B22;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
}

h3 {
    font-size: 20px;
}

nav {
    color: azure;
    font-weight: 700;
    border-bottom: 0.5px solid rgb(192,192,192);
    margin-bottom: 20px;
}

nav ul li {
    display: inline;
    padding-bottom: 20px;
}

.banner {
    padding-top: 30px;
    border-bottom: 0.5px solid rgb(192,192,192);
}

.display {
    margin-top: 40px;
}

.journal-cover {
    height: 130px;
    width: 200px;
    border-radius: 10px;
}

.logo {
    width: 30px;
}

footer {
    margin-bottom: 0;
    padding: 0 5%;
}

footer ul li {
    display: inline;
}

.plant {
    width: 50%;
}

.pending {
    height: 500px;
    padding: 50px;
}

.img-cat {
    height: 300px;
    margin-bottom: 20px;
}