/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  background: black;
  color: white;
  text-align: center;
}

nav {
  background: black;
  color: white;
  float: left;
  height: 60px;
  width: 80%;
  padding: 5px;
}

nav + section {
  background: black;
  color: white;
  float: left;
  height: 60px;
  width: 20%;
  padding: 5px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

nav ul li {
  display: inline;
  list-style-type: none;
  color: white;
  border-right: 2px solid gray;
  text-decoration: none;
}