* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

header {
    height: 20px;
    width: 100%;
}

nav {
    background: black;
    color: white;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

.box {
    margin-top: 30px;
}

header, footer, .info {
    clear: both;
}

.info {
    width: 100%;
}

.halves {
    height: 300px;
    width: 50%;
    float: left;
}

.sub-headline {
    height: 150px;
    width: 50%;
    float: left;
}

.img-one {
    background: url(Images/Israel_UAE.png);
    background-size: cover;
}

.img-two {
    background: url(Images/Tension_at_Canada_US_border.png);
    background-size: cover;
}

.img-three {
    background: url(Images/vaccinate_seven_billion_people.png);
    background-size: cover;
}

.img-four {
    background: url(Images/online_productivity_gyms.png);
    background-size: cover;
}

.img-five {
    background: url(Images/singer.png);
    background-size: cover;
}